*{

    margin:0;

    padding:0;
}



body{

    background: white;;
}

#backgroundContainer{

    position: absolute;

    top:0;
    left:0;

    height: 100%;
    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;
}

#board{


    height: 88vh;

    width: 88vh;

    background: blue;

    margin-right: 5%;



    display: flex;

    flex-direction: column;

    cursor: pointer;


}

.rankDiv{

    width: 100%;

    height: 12.5%;

    border: 1px solid;

    display: flex;

    flex-direction: row;
}

.lightSquareDiv{

    border: solid 1px;

    background: rgb(223, 200, 158);

    height: 100%;

    width: 12.5%;

    display: flex;
    
    justify-content: center;

    align-items: center;    
}

.lightSquareDiv img{

    height: 60%;

    width: auto;
    
}


.darkSquareDiv{

    border: solid 1px;

    background: #c28c71;

    height: 100%;

    width: 12.5%;

    display: flex;

    justify-content: center;

    align-items: center;

}



.darkSquareDiv img{

    height: 60%;

    width: auto;
}


@media only screen and (max-width: 800px){

   #board{    
       
    margin-right:0;
    height: 70vh;
    width: 70vh;


   }

}